body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
}

button {
    margin: 22px;
    padding: 18px 26px;
    font-size: 18px;
}
